<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PARA BANK WEBSITE CHECK">
	<test name="Verfity Sign-up Page">
		<classes>

			<class name="com.parabank.test.SignUpTest" />
			<class name="com.parabank.test.LoginTest" />
			<class name="com.parabank.test.AccountDetailsTest" />

		</classes>
	</test>
	<!--<test name="Verfity Login Test">
		<classes>
			<class name="com.parabank.test.LoginTest" />

		</classes>
	</test>
	<test name="Verfity Account Details Test">
		<classes>

			<class name="com.parabank.test.AccountDetailsTest" />
		</classes>
	</test>-->
</suite> 
